<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEvalService" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IEvalService" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEvalService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEvalService">
                    <reliableSession enabled="true" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/evalservicehost/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEvalService" contract="ServiceReferenceEval.IEvalService"
                name="BasicHttpBinding_IEvalService" />
            <endpoint address="net.tcp://localhost:8888/evalservicehost" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEvalService" contract="ServiceReferenceEval.IEvalService"
                name="NetTcpBinding_IEvalService">
                <identity>
                    <userPrincipalName value="DESKTOP-74BJTF4\gedua" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/evalservicehost" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IEvalService" contract="ServiceReferenceEval.IEvalService"
                name="NetNamedPipeBinding_IEvalService">
                <identity>
                    <userPrincipalName value="DESKTOP-74BJTF4\gedua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/evalservicehost/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IEvalService" contract="ServiceReferenceEval.IEvalService"
                name="WSHttpBinding_IEvalService">
                <identity>
                    <userPrincipalName value="DESKTOP-74BJTF4\gedua" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>